
*{margin: 0px; padding: opx; box-sizing: border-box;}

header{background-color: rgba(255, 72, 14, 0.1);
    width: 1120x;}

nav{ display: flex; justify-content: space-between;
align-items: center; width: 1000px; margin: 0px auto; padding-top: 15px;}

nav ul{ display: flex; }
ul li {list-style:none ; margin: -5px;} 
ul li a{text-decoration: none; padding: 10px 20px; }
ul li a:hover{ background-color: magenta; transition: 0.50s;
 }

  

/* start banner section? */
.banner{ width: 638px; height: 225px; margin: auto;
align-items: center; text-align: center; margin-top: 35px;}

.banner p{margin-top: 10px;}

.btn-primary{ margin-top: 20px; background-color: #FF900E; 
     width: 120px; height: 40px; border: none; border-radius: 8px;
    color: white; font: 600px; font-size: 1rem;}

    .btn-primary:hover{background-color: magenta;
    transition: 0.75s;}
    .banner-img img { max-width: 1000px; margin:  auto; margin-top: -50px; display: flex;  }

    /* start main section? */
     .container-feature{max-width: 850px; display: flex; gap: 25px; margin: auto; margin-top: 30px ;}

     .all-picture{display: grid; grid-template-columns: repeat(2, 1fr);}
     .png{width: 200px;}

     .feature-taitle{align-items: center; margin: auto;}

     .feature-taitle{ width: 550px;}
     .feature-taitle h4{font-size: 2rem; width: 240px;}

     .feature{color: #FF900E;}
     of-our{ font: bold}


     /* main section one start? */
    .section-one{display: flex; width: 850px; margin: auto; margin-top: 50px; gap: 40px;
         padding-bottom: 30px;}

    .loveenjoy-picture img{width: 100%;}

    .section-1-taitle{margin-top: 20px;}

    .section-1-taitle p{color:rgb(255, 47, 47); 
        margin: 20px 0px;}

     .love-enjoy .love-one h4{ font-size: 1.rem; margin-bottom: 6px;}
     .love-enjoy .love-one p{font-size: 0.95rem;}

    .love-one{ width: 80%; height: 90px; text-align: justify;}

    .love-box {box-shadow: 0px 1px 1px 1px wheat; height: 80%; margin: 18px;}
    
    .love-box:hover{background-color: magenta; transition: 0.75s; cursor: auto;}

    .btn-secondaty{ width: 130px; height: 70px; background-color: #FF900E; 
        border: none; border-radius: 8px; color:
         white; font: 800; font-size: .85rem;
        margin-top: -100px; margin-left: -40px; } 
  .btn-secondaty:hover{background: magenta; transition: 0.75s;}
    
    








